/*=================== Section Games Info =============== */


.games-info > .row {
  margin: 0;
  padding-bottom: .5rem;
  border-bottom: 1px solid #040726;
}

.games-info__image {
  /* height: 5rem;
  width: 5rem; */
  /* background-color: #fff; */
  /* border-radius: 10px; */
}


.games-info__title {
  margin-bottom: .2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.games-info__body p {
  font-size: .6rem;
  font-style: italic;
}

.games-info__image img {
  width: 100%;
}

.games-info__text {
  font-size: .7rem;
}

.games-info__button {
  /* border-bottom: 1px solid #040726; */
}

.games-info__button a.button__primary {
  /* min-height: unset; */
}

/*=================== Section User Player =============== */

.section-player {
}


.input-form__player > *,
.input-form__country > * {
  font-size: .8rem;
}

.input-form__player > .form-control:focus,
.input-form__country > .form-select:focus {
  border-color: #ff9000;
  outline: .1rem;
  box-shadow: 0 0 0 0.20rem #ff91004f;
}

/*=================== Section Payment List =============== */

.section-payment-list {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin: 0 .5rem; */
}

.section-payment-list .row {
  padding-bottom: 2rem;
  border-bottom: 1px solid #040726;
}


.payment-list__items {
  padding: .5rem 1rem;
  background-color: rgba(255, 255, 255, 0.641);
  /* background-color: #fff; */
  /* background-color: #979797; */
  border-radius: 3px;
  cursor: pointer;
}

.payment-list__items:hover {
  background-color: #ffffffd8;
  outline: 3px solid #979696;
}

.payment-list__items img {
  height: 2.5rem;
}

.section-amount-list {
  padding: 0 .5rem 1.5rem;
}

.amount-price__wrap {
  background-color: #fff;
  border-radius: 3px;
  font-size: .8rem;
  cursor: pointer;
}

.amount-price__wrap:hover {
  outline: .1rem solid #717171;
}


.amount-price__wrap input[type="checkbox"]:focus {
  box-shadow: none;
}



/*=================== Section Total Payment =============== */

.section-total-payment {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #fff;
  background-color: #040726;
}

.payment-list__items img {
  max-width: 100%;
}


.total-payment__header {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.total-payment__nominal {
  padding: .3rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #040726;
  background-color: #fff;
}

.total-payment__footer > .button__primary {
  min-width: 7.5rem;
}

.back-to-home {
  min-height: 10rem;
  padding-top: 1rem;
}

.back-to-home > .col {
  padding: 1rem;
  border-top: 3px solid #040726;
  /* background-color: yellow; */
}

.box-invoice {
  /* width: 100%; */
  /* height: 100%; */
  margin: .5rem;
  
  border-radius: .5rem;
  background-color: #ffffff;
  overflow: hidden;
}

.box-invoice hr { 
  margin: .5rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.box-invoice__body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
}

.box-invoice__header {
  padding: 1rem;
  background-color: #022047;
  color: #ffffff;
}

.box-invoice-header__label {
  letter-spacing: 2px;
}
