@use "colors";
@use "fonts";
@import "./components/swiper";
@import "./components/games-card";
@import "./components/video-card";
@import "./components/news-card";
@import "./components/sections";
@import "./total-payment";
@import "./payment-list";

* {
  list-style: none;
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $black;
}

main {
  flex: 1;
  margin: .5rem 0;
}

.container {
  max-width: 1344px;
}

.support {
  &__container {
    padding: .3rem;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  
    a > &:hover {
      background-color: rgba(0, 0, 0, 0.922);
      outline: 2px solid rgb(0, 0, 0);
      box-shadow: 0 0 1rem #888888;
    }
  
    @include media-breakpoint-up(md) {
      padding: .5rem;
    }
  
    @include media-breakpoint-up(xl) {
      padding: .8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-image {
      display: flex;
      min-width: 2.5rem;
      height: 2rem;
      padding: .2rem;
    }

    &-text {
      display: flex;
      flex: 1;
      padding: .2rem;
      font-size: .7rem;
      color: #fff;
      letter-spacing: .15rem;
      @include media-breakpoint-up(xl) {
        font-size: 1rem;
      }
    }
  }

  &__hero {
    padding: .1rem;
    margin-bottom: 1rem;
    min-height: 5rem;
    background-color: #fff;
    border-radius: 3px;
    outline: 2px solid transparentize($color: colors.$color-black, $amount: .95);
    overflow: hidden;
  }
}


footer {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid colors.$color-third;
}

.footer {
  &__text {
    font-size: .9rem;
    a {
      cursor: pointer;
      &:hover {
        color: $white;
        text-shadow: 1px 2px darken($color: colors.$color-first, $amount: 10);
      }
    }

    // @include media-breakpoint-up(md) {
    //   font-size: .8rem;
    // }

    // @include media-breakpoint-up(xl) {
    //   font-size: .9rem;
    // }
  }
}

/*=================== Modal/Popup Confirm Payment =============== */

.modal-content {
  background-color: lighten($color: colors.$color-first, $amount: 70);
  border: none;
}

.box-invoice {
  margin: .5rem;
  border-radius: .5rem;
  background-color: #ffffff;
  overflow: hidden;

  hr { 
    margin: .5rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }

  &__header {
    padding: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #022047;
  }

  &__body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 1rem;
    text-transform: capitalize;
  }
}

.checkout-confirm {
  &__info {
    font-family: var(--bs-font-sans-serif);
    font-size: .7rem;
    font-style: italic;
  }
}








