@use "./colors";

.player-input {
  padding-top: .7rem;
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
}

.input-form__player>.form-control:focus,
.input-form__country>.form-select:focus,
.input-form__phone>.form-control:focus {
  border-color: lighten($color: colors.$color-fourth, $amount: 30);
  outline: .1rem;
  box-shadow: 0 0 0 0.15rem transparentize($color: colors.$color-fourth, $amount: .8);
}

.input-form__player>button#btnCheckId {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.input-form__phone {
  animation: fadein 1s;

  &>input::placeholder {
    font-size: .9rem;
  }
}

.nav-tabs {

  border-bottom: 1px darken($color: #ffffff, $amount: 30) solid;

  & .nav-link {
    font-size: .8rem;
    color: lighten($color: $black, $amount: 50);
    padding: .5rem;
    transition: unset;

    &.active {
      margin-bottom: -1px;
      color: colors.$color-third;
      border-top-color: darken($color: $white, $amount: 30);
      border-left-color: darken($color: $white, $amount: 30);
      border-right-color: darken($color: $white, $amount: 30);
      border-bottom: unset;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transition: unset;

      &:hover {
        color: colors.$color-third;
        border-top-color: darken($color: $white, $amount: 30);
        border-left-color: darken($color: $white, $amount: 30);
        border-right-color: darken($color: $white, $amount: 30);
        transform: unset;
      }
    }

    &:hover {
      color: colors.$color-third;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      transform: scale(1.05);
      // margin-bottom: -1px;
      // border-bottom: unset;
      // transition: unset;
      // border-bottom: none;
      // border: unset;
    }


  }
}

.info-payment {
  padding-top: 1rem;
  min-height: 10vh;
  // background-color: aqua;
}

.payment-list {
  min-height: 7vh;

  &__items {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 3rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.641);
    border-radius: 3px;
    cursor: pointer;
    animation: fadein 1s;

    &:hover {
      background-color: #ffffffd8;
      outline: 3px solid #979696;
    }

    @include media-breakpoint-up(sm) {
      min-height: 4rem;
      padding: .5rem 1rem;
    }

    img {
      max-width: 80%;
      max-height: 70%;
      object-fit: fill;

      @include media-breakpoint-up(md) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 1rem;
  }

  @include media-breakpoint-up(sm) {
    margin: 1rem 0;
  }
}

.price-list {
  padding: 1rem .3rem;
}

.amount-price {
  &__wrap {
    background-color: #fff;
    border-radius: 3px;
    font-size: .8rem;
    cursor: pointer;
    animation: fadein 1s;

    &:hover {
      outline: .1rem solid #717171;
    }

    input[type=radio]:checked {
      background-color: none !important;
    }
  }
}

.input-feedback {
  padding: .2rem 0 .5rem 1rem;
  font-size: .8rem;
  font-style: italic;
  color: lighten($color: $black, $amount: 20);

  &.invalid {
    color: colors.$color-second;
    text-shadow: 1px 1px darken($color: colors.$color-first, $amount: 30);
    letter-spacing: .05rem;
  }

  &.valid {
    color: colors.$color-fourth;
    text-shadow: 1px 1px darken($color: colors.$color-first, $amount: 10);
    letter-spacing: .05rem;
  }
}

#paymentLoader,
#paymentLoader {
  & .spinner-border {
    display: none;
  }
}

.captcha-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: .5rem;
  box-sizing: border-box;

  &__image {
    display: flex;
    align-items: center;
    min-width: 6.7rem;
    padding-left: .2rem;
    padding-block: .15rem;
    padding-right: .15rem;
    border: 1px solid #ced4d4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    img {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
  }

  &__reload {
    button {
      padding: .370rem .70rem;
      color: #fff;
      font-size: 1rem;
      background-color: lighten($color: colors.$color-fourth, $amount: 10);
      border: 1px solid lighten($color: colors.$color-fourth, $amount: 10);
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;

      &:hover {
        background-color: darken($color: colors.$color-fourth, $amount: 5);
      }
    }

  }

  &__input {
    display: flex;
    flex-direction: row;
    justify-content: end;

    input {
      width: 50%;
      // padding: 3%;
      font-size: .8rem;
      border-radius: 3px;
      border: 1px solid #ced4d4;
      letter-spacing: 5px;
      line-height: 1.8rem;
      text-align: center;

      &:focus-visible {
        border-color: lighten($color: colors.$color-fourth, $amount: 30);
        outline: .1rem;
        box-shadow: 0 0 0 0.15rem transparentize($color: colors.$color-fourth, $amount: .8);
      }
    }


  }

}