@use "./colors";

.player-input {
  padding-top: .7rem;
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
}

.input-form__player>.form-control:focus,
.input-form__country>.form-select:focus {
  border-color: colors.$color-fourth;
  outline: .1rem;
  box-shadow: 0 0 0 0.2rem transparentize($color: colors.$color-fourth, $amount: .8);
}

.payment-list {
  padding-top: 1rem;

  &__items {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 3rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.641);
    border-radius: 3px;
    cursor: pointer;
    animation: fadein 1s;

    &:hover {
      background-color: #ffffffd8;
      outline: 3px solid #979696;
    }

    @include media-breakpoint-up(sm) {
      min-height: 4rem;
      padding: .5rem 1rem;
    }

    img {
      max-width: 80%;
      max-height: 70%;
      object-fit: fill;

      @include media-breakpoint-up(md) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    min-height: 10vh;

  }

  @include media-breakpoint-up(sm) {
    min-height: 20vh;
    margin: 1rem 0;
  }
}

.price-list {
  padding: 1rem .3rem;
}

.amount-price {
  &__wrap {
    background-color: #fff;
    border-radius: 3px;
    font-size: .8rem;
    cursor: pointer;
    animation: fadein 1s;

    &:hover {
      outline: .1rem solid #717171;
    }

    input[type=radio]:checked {
      background-color: none !important;
    }
  }
}

.input-feedback {
  padding: .1rem 0 .5rem 1rem;
  font-size: .8rem;
  font-style: italic;

  &.invalid {
    color: colors.$color-second;
    text-shadow: 1px 1px darken($color: colors.$color-first, $amount: 30);
    letter-spacing: .05rem;
  }

  &.valid {
    color: colors.$color-fourth;
    text-shadow: 1px 1px darken($color: colors.$color-first, $amount: 10);
    letter-spacing: .05rem;
  }
}