@use "./colors";

.player-input {
  padding-top: .7rem;
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
}

.input-form__player>.form-control:focus,
.input-form__country>.form-select:focus {
  border-color: colors.$color-fourth;
  outline: .1rem;
  box-shadow: 0 0 0 0.2rem transparentize($color: colors.$color-fourth, $amount: .8);
}

.nav-tabs {
  & .nav-link {
    font-size: .8rem;
    color: lighten($color: $black, $amount: 50);
    padding: .5rem;

    &.active {
      color: colors.$color-third;
      border-top-color: colors.$color-third;
      border-left-color: colors.$color-third;
      border-right-color: colors.$color-third;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      margin-bottom: -1px;
      border-bottom: unset;
      transition: unset;

      &:hover {
        color: colors.$color-third;
        border-top-color: colors.$color-third;
        border-left-color: colors.$color-third;
        border-right-color: colors.$color-third;
      }
    }

    &:hover {
      color: colors.$color-third;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom: none;
      // margin-bottom: -1px;
      // border-bottom: unset;
      // transition: unset;
      // border-bottom: none;
      // border: unset;
    }

    transition: unset;
  }
}

.info-payment {
  padding-top: 1rem;
  min-height: 10vh;
  // background-color: aqua;
}

.payment-list {
  min-height: 10vh;

  &__items {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 3rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.641);
    border-radius: 3px;
    cursor: pointer;
    animation: fadein 1s;

    &:hover {
      background-color: #ffffffd8;
      outline: 3px solid #979696;
    }

    @include media-breakpoint-up(sm) {
      min-height: 4rem;
      padding: .5rem 1rem;
    }

    img {
      max-width: 80%;
      max-height: 70%;
      object-fit: fill;

      @include media-breakpoint-up(md) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 1rem;
  }

  @include media-breakpoint-up(sm) {
    margin: 1rem 0;
  }
}

.price-list {
  padding: 1rem .3rem;
}

.amount-price {
  &__wrap {
    background-color: #fff;
    border-radius: 3px;
    font-size: .8rem;
    cursor: pointer;
    animation: fadein 1s;

    &:hover {
      outline: .1rem solid #717171;
    }

    input[type=radio]:checked {
      background-color: none !important;
    }
  }
}

.input-feedback {
  padding: .1rem 0 .5rem 1rem;
  font-size: .8rem;
  font-style: italic;

  &.invalid {
    color: colors.$color-second;
    text-shadow: 1px 1px darken($color: colors.$color-first, $amount: 30);
    letter-spacing: .05rem;
  }

  &.valid {
    color: colors.$color-fourth;
    text-shadow: 1px 1px darken($color: colors.$color-first, $amount: 10);
    letter-spacing: .05rem;
  }
}

#paymentLoader,
#paymentLoader {
  & .spinner-border {
    display: none;
  }
}