.section-home {
  min-height: 50vh;
  margin-top: 2rem;
  @include media-breakpoint-down(lg) {
    padding: 0 .3rem;
  }
}

.section {

  // SECTION FOR HOME PAGE
  &-games, &-promo-info {
    @extend .section-home;
  }

  &-support {
    @extend .section-home;
    min-height: 100%;
  }

  // SECTION FOR HOME PAYMENT
  &-games-info {
    padding: .7rem .7rem .5rem .7rem;
    border-bottom: 1px solid #040726;
    @include media-breakpoint-up(md) {
      padding: 1rem;
      border-bottom-width: 1px;
      font-size: 1.5rem;
    }
  }

  &-player {
    margin: 1rem 0;
    min-height: 20vh;
    border-bottom: 1px solid #040726;
  }

  &-payment {
    margin: 1rem 0;
    min-height: 20vh;
    border-bottom: 1px solid #040726;
  }

  &-total-payment {
    margin: 1rem 0;
    padding: .5rem 0;
    background-color: #040726;
  }
  
}

.label-section {
  padding-left: 5px;
  font-weight: map-get(fonts.$font-weight, bold);
  font-size: 1.1rem;
  // font-family: 'Lemon Milk Bold';
  color: colors.$color-black;
  text-transform: uppercase;
  border-bottom: 2px solid colors.$color-second;

  @include media-breakpoint-up(md) {
    border-bottom-width: 2px;
    font-size: 1.5rem;
  }
}




